{% extends "base.html" %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
{% block content %}
<h1 class="title">
  Loading your data...
</h1>
<div class="columns is-centered">
  <div class="column is-half">
    <progress class="progress is-small is-danger" max="100"></progress>
  <div>
</div>
<script>
setInterval(function(){
        $.getJSON('/refreshData', {
        }, function(data) {
          if(data.output){
            window.location.href = "http://localhost:8000/results";
          }
        });
   },20000);
</script>
{% endblock %}