{% extends "base.html" %}

{% block content %}
<h1 class="title">
  What would you like to find out about movies?
</h1>
<h2 class="subtitle">
	Select your X-Axis
</h2>
<div class="columns is-centered">
  <select class="select" name="x-axis" id="x-axis">
    <option value="" disabled selected>Select Your X-Axis</option>
    <option value="Title">Title</option>
    <option value="Genres">Genres</option>
    <option value="Rating">Rating</option>
  </select>
</div>
<h2 class="subtitle">
	Select your filters
</h2>
<input class="button is-small" id="addBtn" type="button" value=" + " onClick="addFilter();">
<input class="button is-small" id="removeBtn" type="button" value=" - " onClick="removeFilter();" disabled>
<br>
<br>
<div id="mainContainer">
  <div class="columns is-centered" id="column-div1">
    <select class="select is-small" name="filter1" id="filter1" required onchange="showfield(1);">
      <option value="" disabled selected>Select Filter</option>
      <option value="Title">Title</option>
      <option value="Genres">Genres</option>
      <option value="Rating">Rating</option>
    </select>
    <input class="input is-small" type="textbox" name="input1" id="input1" style="visibility:hidden; width: 25%;"/>
  </div>
</div>
<br><br>
<div class="control">
  <label class="radio">
    <input type="radio" name="graphtype" id="graphtype" value="histogram">
    Histogram
  </label>
  <label class="radio">
    <input type="radio" name="graphtype" id="graphtype" value="scatterplot">
    Scatterplot
  </label>
</div>
<br>
<div class="columns is-centered">
	<div class="column is-2">
		<button class="button is-small" id="start-job" style="width: calc(80% - 10px);">Start Spark Job</button>
	</div>
</div>
<div class="columns is-centered">
	<div class="column is-2">
		<a href="{{ url_for('main.options') }}"><button class="button is-small" style="width: calc(80% - 10px);">Back to Options</button>
	</div>
</div>
<script>
  var counter = 1;
  var selectCount = 1;
  function start_task() {
    var jsonObj = {};
    jsonObj['csv-location'] = 'movie_dataset'
    if (!$('input[name=graphtype]:checked').length > 0) {
      $.alert({
        title: 'Error!',
        content: 'Please select a type of graph',
      });
      return;
    }
    else {
      jsonObj['plot_type'] = $('input[name=graphtype]:checked').val()
    }
    if ($('#x-axis option:selected').val()) {
      jsonObj['x-axis'] = $('#x-axis option:selected').val()
      if ($('#filter'+counter+' option:selected').val() && $('#input'+counter).val()) {
        for (var i = 1; i < counter+1; i++) {
          jsonObj['filter'+i] = $('#input'+i).val();
        }
      }
      else jsonObj['filter1'] = 'false'
      console.log(jsonObj);
      $.ajax({
        type: 'POST',
        url: '/sparktask',
        cache: false,
        data: JSON.stringify(jsonObj),
        contentType: "application/json",
        success: function (data) {
          window.location.href = data
        },
        error: function (data) {
          alert("You're not logged in. Please sign in again");
          window.location.href = "/login"
        }
      });
    }
    else {
      $.alert({
        title: 'Error!',
        content: 'X-Axis is required',
      });
    }
  }
  $(function () {
    $('#start-job').click(start_task);
  });
  var options = ["Title", "Genres", "Rating"];
  function addFilter() {
    if ($("#filter"+counter+" :selected").text() != "Select Filter") {
      if (counter < 3) {
        document.getElementById("filter" + counter).disabled = true;
        counter++;
        // Get the main Div in which all the other divs will be added
        mainContainer = document.getElementById('mainContainer');
        newDiv = document.createElement('div');
        newDiv.setAttribute("class","columns is-centered");
        newDiv.id = "column-div" + counter;
        newDropdown = document.createElement('select');
        newDropdown.setAttribute("class","select is-small");
        newDropdown.setAttribute("onchange", "showfield("+counter+");");
        newDropdown.name = "filter" + counter;
        newDropdown.id = "filter" + counter;
        newDropdownOption = document.createElement("option");
        newDropdownOption.setAttribute("disabled", "");
        newDropdownOption.setAttribute("selected", "");
        newDropdownOption.text = "Select Filter";
        newDropdown.add(newDropdownOption);
        for (const item of options) {
          if (item != $("#filter1 :selected").text()) {
            if (item != $("#filter2 :selected").text()) {
              newDropdownOption = document.createElement("option");
              newDropdownOption.text = item;
              newDropdownOption.value = item;
            }
          }
          newDropdown.add(newDropdownOption);
        }
        
        newInput = document.createElement("input");
        newInput.setAttribute("type", "textbox");
        newInput.setAttribute("class", "input is-small");
        newInput.name = "input" + counter;
        newInput.id = "input" + counter;
        newInput.setAttribute("style", "visibility:hidden; width: 25%;");
        newDiv.appendChild(newDropdown);
        newDiv.appendChild(newInput);
        // Append newDiv input to the mainContainer div
        mainContainer.appendChild(newDiv);
        document.getElementById("removeBtn").disabled = false;
      }
      else {
        $.alert({
          title: 'Error!',
          content: 'Too many fields added',
        });
      }
    }
    else {
        $.alert({
          title: 'Error!',
          content: 'Please fill up filter before adding new ones',
        });
      }
  }
  function removeFilter() {
    mainContainer = document.getElementById('mainContainer');
    newDiv = document.getElementById('column-div' + counter);
    textBox = document.getElementById('filter' + counter)
    newDiv.removeChild(textBox);
    mainContainer.removeChild(newDiv);
    counter--;
    document.getElementById("filter" + counter).disabled = false;
    if (counter == 1) {
      document.getElementById("removeBtn").disabled = true;
    }
  }

  function showfield(value){
    if (value) {
      document.getElementById('input'+value).style.visibility='visible'
    }
  }
</script>
{% endblock %}